name: Test

on: [push, pull_request]

env:
  FORCE_COLOR: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "pypy-3.8", "pypy-3.9"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get install libsane-dev

      # No tests: just check it can build and install
      - name: Test build and install
        shell: bash
        run: |
          python3 setup.py build
          python3 -m pip install .

      - name: Lint
        shell: bash
        run: |
          pip install pycodestyle pyflakes
          pycodestyle --statistics --count . || true
          pyflakes . | tee >(wc -l)
